<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Hidden input field to capture the client's IP address -->
        <input type="hidden" id="client_ip" name="client_ip" value="{{.ClientIP}}" disabled>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
