<!DOCTYPE html>
<html>
<head>
    <title>User Login Data</title>
</head>
<body>
    <h1>User Login Data</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Username}}</td>
            <td>{{.Password}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>
